.mainBlock {
    /* background-color: #041955;
    color:white; */
    margin-top: 200px;
}

.mainBlock button {
    font-size: large;
}

.inputField {
    width: 51vw;
    margin-left: -29px !important;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: #3450a1 !important;
    /* background-color: #f2f7ff !important; */
}

.googleSignin {
    background-color: rgb(184, 214, 236) !important;
    color: black !important;
    position: absolute;
    left: 650px;
    top: 30px;
    border-radius: 30px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 600px; */
    font-weight: 600 !important;
    font-size: 16px !important;
}

.googleIconSignin {
    margin-right: 10px;
    margin-bottom: 2px;
    font-size: 30px;
}

.signedDetails {
    position: absolute;
    top: 30px;
    left: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    width: 15%;
}

.googleSignOut {
    background-color: rgb(184, 214, 236) !important;
    color: black !important;
    border-radius: 30px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 600px; */
    font-weight: 600 !important;
    font-size: 16px !important;
}

.main-info {
    font-size:16pt;
    text-align: left;
    margin-left: 22%;
    letter-spacing: 1px;
}

.textAndButtons {
    margin-top: 30px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 76vw;
    margin-left: 12.5%;
}

.textAndButtons button {
    margin: 0 15px;
    background-color: #3450a1;
    color: #fefeff;
}

.textAndButtons button:hover {
    background-color: #f2f7ff !important;
    color: #45626f !important;
}

.preview {
    margin-top: 50px;
    width: 72vw;
    margin-left: 159px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    padding: 10px 10px 48px 10px;
    border-radius: 12px;
    color: #355785;
}

.preview-Content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.preview-Image {
    /* position: relative;
    top: 30px;
    left: -70px; */
    width: 15%;
    height: 15%;
    /* z-index: 10; */
    border-radius: 15px;
    /* margin-top: 35px; */
    margin: 0px 3px 2px 20px;
}

.preview-Link {
    margin-top: -10px;
    /* margin-left: 10px; */
    font-size: 14pt;
    font-weight: 600;
    color: #1942D1;
}

.preview-Pin {
    margin-top: 20px;
}

.preview-Pin button {
    background-color: #3450a1;
    color: #fefeff;
    position: relative;
    top: 50%;
    left: -1%;
}

.preview-Pin button:hover {
    background-color: #f2f7ff !important;
    color: #45626f !important;
}

.comments {
    margin-top: 80px;
}

.commentsTitle {
    text-align: left;
    margin-left: 23.2%;
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 40px;
}

.commentsInput {
    width: 50vw;
}

.pinRedirectLink {
    margin-top: 250px;
    width: 30%;
    /* border: 2px solid red; */
    position: absolute;
    top: 50%;
    left: 34%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.pinRedirectLink-content {
    font-size: 14pt;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    /* border: 2px solid red; */
    color: gray;
}

.pinRedirectLink-link {
    margin-top: 50px;
    font-size: 18pt;
    font-weight: 600;
    color: #3450a1;
}

.signInPostAlert {
    font-size: 18pt;
    margin-left: -30px;
}